<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /public_html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /include/router.php [L]
</IfModule>